# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PHP
*.log
*.cache

# Ambiente local
/vendor/
.env
config/local.php

# Upload de arquivos dos alunos
/uploads/
*.zip
*.rar